.nav {
  background-color: rgb(45, 45, 72);
  padding-left: 40px;
  padding-right: 40px;
}
.nav img {
  width: 150px;
  margin-left: 60px;
}
.nav ul {
  gap: 40px;
  margin-left: 1.5rem;
}
.image_logo {
  padding: 80px;
  gap: 10px;
}
.image_logo img {
  width: 160px;
  cursor: pointer;
}
.powering {
  padding: 30px 60px;
}
.powering h1 {
  font-weight: 400px;
}
.topic {
  margin: 20px 60px;
  border: 2px solid rgb(212, 211, 211);
  border-left: none;
  border-right: none;
  border-top: none;
  width: 90%;
}
.topic ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
  font-size: 18px;
  padding-left: 0px;
  margin-left: 50px;
}
.topic ul li a {
  text-decoration: none;
  color: black;
  position: relative;
}
/* TO PLACE ACTIVE LINE UNDER THE TOPICS */
.topic ul li a::before {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 120%;
  height: 3px;
  background-color: black;
}
/* ANIMATION TRANSITION TO MAKE THE ACTIVE LINE TRANSFORM */
.topic ul li a::before {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.topic ul li a:hover::before {
  transform: scale(1, 1);
}
.topic ul li a:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}
.digital_payment {
  margin-left: 60px;
}
.digital_payment a {
  color: red;
  font-size: 20px;
}
.Leading_stats {
  background-color: aliceblue;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  text-align: center;
}
.Leading_stats h1 {
  font-weight: bold;
}
.Leading_stats h2 {
  font-size: 50px;
  margin-top: 40px;
  font-weight: bold;
}
.Leading_stats p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: gray;
}
.Gt_payment {
  margin-top: 4.5rem;
}
.Gt_payment p {
  margin-top: 2.5rem;
}
#features h2 {
  height: 60px;
  width: 60px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.circle {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Schedule {
  background-image: linear-gradient(
    to right,
    rgb(233, 132, 83),
    rgb(180, 82, 119)
  );
  margin-top: 60px;
  padding: 60px 60px;
}
.Schedule #inner_box {
  background-image: linear-gradient(
    to right,
    rgb(201, 115, 72),
    rgb(154, 70, 102)
  );

  padding: 20px 60px;
}
.Schedule button {
  background-color: rgb(45, 45, 72);
  color: white;
  font-size: 20px;
}
.Schedule button:hover {
  background-color: white;
  color: black;
}
.testimony {
  background-color: rgb(45, 45, 72);
}
.testimony_c {
  font-size: 20px;
  line-height: 40px;
}
.testimony_c p {
  padding-top: 50px;
}
.testimony_c #ceo h6 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.testimony_c #ceo #line {
  border-right: 3px solid white;
  padding-right: 20px;
}

.pay_solution a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.innovations {
  margin: 100px 70px;
}

.innovations p {
  font-size: 18px;
  /* font-weight: bold; */
  margin-top: 20px;
  font-family: "Roboto", Arial, Arial;
}
.innovations h1 {
  font-weight: bold;
  font-family: "Poppins", Arial, Arial;
}

.card_solution a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.card_solution {
  transition: 0.5s;
}
/* .card_layout {
  background-image: url(./asset/card1.jpeg);
  background-repeat: no-repeat;
  width: fit-content;
} */
.card_layout img:hover {
  transform: scale(1.3);
}
footer {
  background-color: rgb(45, 45, 72);
}
.foot {
  width: 100%;
}

.footer_top {
  background-image: url(https://www.dwolla.com/hubfs/cta-image.svg);
  width: 100%;
  background-size: cover;
  height: 50vh;
}
.foot button {
  background-color: #ca4c24;
  border: none;
  border-radius: 3px;
}

/* neeed work on this footer button to change text color on hover */
.footbtn:hover {
  color: black;
}
.foot_socia img {
  width: 150px;
  margin-left: 60px;
}
.socia_icon {
  margin-left: 60px;
  display: flex;
  align-items: center;
  width: 8%;
  padding-top: 30px;
  gap: 1rem;
}
.socia_icon .fa-linkedin-in {
  background-color: rgb(226, 225, 225);
  padding: 0.1rem;
  border-radius: 0.1rem;
}
.socia_icon .fa-square-youtube {
  background-color: rgb(45, 45, 72);
  color: rgb(226, 225, 225);
}
.socia_icon .fa-twitter {
  background-color: rgb(45, 45, 72);
  color: rgb(226, 225, 225);
}
.footer_list {
  color: rgb(226, 225, 225);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer_list ul {
  list-style-type: none;
  padding-left: 0px;
}
.privacy {
  color: white;
  width: 75%;
  margin-left: 60px;
  margin-top: 100px;
  padding-bottom: 30px;
  /* position: relative; */
}
.privacy h6 {
  padding-bottom: 0.2rem;
  padding-right: 0px;
}
.privacy h6::after {
  content: "|";
  height: 0.5em;
  margin-left: 0.5em;
  color: white;
  width: 3px;
}
.privacy p {
  font-size: 12px;
}
.privacy button {
  display: flex;
  align-content: start;
}
.fa-chevron-up {
  padding: 0.2em;
  font-size: 24px;
  color: white;
}
